@import '../../globalVar.less';

.player {
  position: fixed;
  z-index: 999;
  width: 150px;
  height: auto;
  // background: #ffffff;
  // border-radius: 5px;
  // border: 3px solid @mikuColor;

  .tip {
    width: 100px;
    background: #ffffff;
    position: absolute;
    bottom: -40px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    left: 50%;
    padding: 5px;
    box-sizing: border-box;
    transform: translateX(-50%);

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      border: #ffffff 10px solid;
      left: 50%;
      transform: translateX(-50%);
      border-top-color: rgba(0,0,0,0);
      border-left-color: rgba(0,0,0,0);
      border-right-color: rgba(0,0,0,0);

    }
  }

  audio {
    width: 0px;
    height: 0px;
  }
  .tv {
    width: 100%;
    height: 100%;
    &>img {
      width: 100%;
    }
  }

  .screen {
    position: absolute;
    width: 101px;
    height: 63px;
    top: 37px;
    left: 24px;
    overflow: hidden;
    border-radius: 3px;
  }

  .cover {
    overflow: hidden;
    background-size: cover;
    
    .mikuDance {
      height: 60px;
      position: absolute;
      bottom: -2px;
      right: -10px;
      transition: 0.4s;
      &>img {
        height: 100%;
        width: auto;
      }
    }

    .hidden {
      bottom:  -60px;
    }
  }
  
  .intro{
    color: rgba(0,0,0,0);
    z-index: 3;
  }

  .intro:hover {
    background: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    color: #ffffff;
    overflow: scroll;
    padding: 5px;
    box-sizing: border-box;
  }

  

  .btnRow {
    position: absolute;
    width: 101px;
    height: 36px;
    top: 100px;
    left: 24px;
    background: @mikuColor;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn {
      width: 15px;
      height: 15px;
    }

    .playControlBtn{
      width: 20px !important;
      height: 21px;
      overflow: hidden;
      background: url('../../assets/icon/play_pause.png') no-repeat;
      background-size: 100% 200%;
      background-position: 0% 100%;

    }

    .isPlaying {
      background-position: 0% 0%;

    }
  }
}

