@navHeight: 70px;
@navPadding: 50px;
@mikuColor: #339999;
@mainColor: rgb(99, 192, 254);
@bgColor: #f6f6f6;
@bannerBg: url('http://pxaxq1pkc.bkt.clouddn.com/image/bannermiku5.jpg');
@aboutMeHeaderBg: url('http://pxaxq1pkc.bkt.clouddn.com/image/bannermiku2.jpg');
@baseZIndex: 9;
@playerZIndex: 99;
@modalZIndex: 999;